.bookmark-list-content 
  .item
    &.opened
      .bookmark-content
        button 
          display: block
    .bookmark-content
      button 
        display: none
    .button-link 
      margin-left: 1em   
    .bookmark-actions
      text-align: right
    .btn-bg 
      padding: 0 0.7em
      float: left    
    .btn-success
      padding: 0 0.7em
      font-size: 14px
    textarea  
      min-height: 7em 
      margin-bottom: 0.5em
      max-width: 300px
.button-link 
  background-color: transparent
  text-decoration: underline 
  &:hover 
    background-color: transparent
    text-decoration: underline
          