.headerBox
  background-color: #F4F4F4
  border: none

h1, .h1, #socialMedia a:before, .listMode > li i, .product-price, .product-title, #stepsList > li i, #shareContainer i, #playPause i
  font-size: 1em

#productsList
  .addToCart
    color: #fff
  .product-item 
    margin-bottom: 2rem
    h2
      margin-bottom: 0
    h2 a.title
      display: block
      font-size: 0.6em
      color: #000
      line-height: 1.4em
      min-height: 2.8em
  .listPrice
    color: #EE5921
    font-size: 1.8em
  .product-item .prodNumber
    margin: 0px
    color: #000000
    font-weight: bold
    font-size: 0.7em
  .addToCart
    float: left
    span
      color: #fff

@media (min-width: 768px)
  #orderProdList label, .headerBox > span
    margin-top: 0px

.listMode > li
  background-color: transparent
  border: none    
  padding: 0
  margin-left: 0.5em
  color: #000
  vertical-align: middle
  line-height: 2em
  height: 2em
  &.active 
    background-color: transparent
    color: #000
  i 
    vertical-align: middle  
#orderProdList fieldset > label
  line-height: 2em
  height: 2em
.productCount 
  line-height: 2em
  height: 2em
  color: #000
#orderProdList      
.form-style
  border: 1px solid #aaa
  line-height: 2em
  height: 2em
.removeFiltersContainer
  padding: 1em    

#productsList 
  .whishlistItem
    margin-bottom: 1rem
    +clearfix
    form[name="change"]
      text-align: right
    button[type="submit"]  
      display: inline-block 
      float: none
    .form-style
      border: none
      line-height: 1.4
      height: auto
    .btn-group.bootstrap-select.form-style
      margin: 0 !important
      float: none
      button.btn
        border: 1px solid #AFAFAF
        // line-height: 1.4
        // height: auto     
    .bootstrap-select.btn-group .btn .caret:before
      font-size: 1em
    .form-group 
      margin-bottom: 1em
    h2 
      margin: 0
      a 
        display: block
        font-size: 0.7em  
    .listPrice      
      text-align: right
    .wishlist-quantity
      width: 3em
      display: inline-block
      text-align: center
    .addToCart  
      float: none
      margin-left: 1em
    .form-inline
      +clearfix
      width: 100%  

#changeList .bootstrap-select
  border: none
  line-height: 1.4
  height: auto
  &.btn-group .btn .caret:before
    font-size: 1em      
#product-description
  margin-bottom: 2em