.product-list--list
  .item 
    margin-bottom: 1em
    div 
      font-size: 1em
    .media-left
      a 
        width: 105px
        display: block 
        &:hover 
          color: $blue
    .priceContainer 
      text-align: right 
    .wishlist-quantity
      max-width: 5em
      text-align: right 
    .listPrice
      display: block 
      font-size: 2em
      color: #EE5921
      margin-bottom: 0.25em   
.product-list 
  .item 
    margin-bottom: $spacing*2
    span, div 
      font-size: inherit
    h2 
      font-size: 1.2em
      margin: 0 0 0.5em
      padding: 0    
      a 
        font-size: inherit
        color: #000
        font-weight: 600
        &:hover 
          color: $blue
    .priceContainer       
      position: relative
      font-size: 1.2em
    .price 
      display: block
      strong 
        color: #EE5921 
        font-weight: 400
    .quantity-container  
      margin-bottom: $spacing 
      line-height: 31px 
      margin-top: 0
      input[name="quantity"]
        max-width: 3em
        height: 2em
        line-height: 2em
        padding: 0 0.2em
        text-align: center
      label 
        line-height: 31px 
    .favorite 
      line-height: 1.4 
      position: absolute
      right: 0
      top: 0 
      font-size: 1.2em
    .btn-success
      color: #fff
      text-decoration: none
      &:hover 
        text-decoration: none
      span 
        color: inherit  
    .prodNumber
      margin: 0 0 0.3em        
.product-list--list.product-list--wishlist
  .favorite-quantity-wrapper
      margin-bottom: 0.5em  
  .priceContainer form[name="change"]     
    .bootstrap-select
      float: none !important
      display: inline-block !important
      vertical-align: middle !important
      margin: 0 !important
  form[name="addToCart"]  
    margin-bottom: 0.5em  
.product-list--box
  .item 
    h2 
      min-height: 2.8em

.product-list--list 
  .item
    .quantity-container
      text-align: right
      .pull-right 
        float: none
      input[name="quantity"]       
        line-height: 31px
        height: 31px 
        vertical-align: top
        margin-right: 0.5em
      label 
        float: none  
        vertical-align: top
    .favorite 
      position: relative  
    .price 
      margin-bottom: 0.5em
      font-size: 1.2em  
.product-list--table 
  .item 
    .quantity-container
      margin: 0
    i 
      vertical-align: middle
      margin: 0  
    // input[name="quantity"] 
    //   line-height: 31px
    //   height: 31px 
    //   vertical-align: top
    //   margin-right: 0.5em      