.container
  +container-fixed
  @media (min-width: $screen-sm-min)
    width: $container-sm
  @media (min-width: $screen-md-min)
    width: $container-md
  @media (min-width: $screen-lg-min)
    width: $container-lg
  position: relative  
.row
  +make-row
.container-fluid
  +container-fixed
  position: relative 
  width: 100%
  max-width: 100%
.container-full 
  width: 100%
  max-width: 100%
  position: relative
  padding: 0 $spacing
  
+make-grid-columns

+make-grid(xs)

@media (min-width: $screen-sm-min)
  +make-grid(sm)

@media (min-width: $screen-md-min)
  +make-grid(md)

@media (min-width: $screen-lg-min)
  +make-grid(lg)  

.block-header
  font-weight: 300  
  border-bottom: 4px double #333
  margin-bottom: 0.5em  
.aside
  +make-sm-column(4)
  +make-md-column(2)
.breadcrumbs
  // padding: 0px $spacing
  font-size: 0.8em
  font-weight: 400
  color: #fff
  line-height: 29px
  ul
    +h-nav
  a
    color: #fff
    line-height: 2.2em
    &:hover
      color: $primary
  li
    color: #fff
    &:after
      font-family: "FontAwesome"
      content: "\f105 "
      margin-left: 0.2em
      margin-right: 0.2em
      font-weight: 400      
    &:last-child:after    
      color: $primary
      display: none
* 
  transition: all 0.3s ease-out      
.form-group
  .popover
    border-radius: 0
    box-shadow: none
    border-color: #C156AC
    .arrow 
      border-top-color: #C156AC
.paragraphContent
 ul 
  list-style-type: disc
  padding-left: 1.2em
  line-height: 1.6  
  margin-bottom: 1em
  margin-top: 1em




#miniCartContainer
  a 
    color: #000 
  footer 
    background-color: transparent  
#miniCart
  z-index: 9000
  right: 0
  top: 100%
  border: 1px solid black
.productCount
  font-weight: 700
  color: #fff
.logo 
  width: 148px
  height: 80px
  display: inline-block
  background-color: transparent 
  background-repeat: no-repeat
  background-size: contain 
  background-position: center  
  img 
    display: none
.btn-primary  
  border: none  
.jayco
  .logo 
    background-image: url(/Files/Templates/Designs/Jayco/images/logo-jayco.png)
  .btn-primary, .btn-bg
    background-color: $jayco 
    color: #fff !important
    &:hover 
      background-color: darken( $jayco, 10% )  
.entegra
  .logo
    background-image: url(/Files/Templates/Designs/Jayco/images/logo-entegra.png) 
  .btn-primary, .btn-bg
    background-color: $entegra 
    color: #fff !important
    &:hover 
      background-color: darken( $entegra, 10% ) 
.starcraft
  .logo
    background-image: url(/Files/Templates/Designs/Jayco/images/logo-starcraft.png) 
  .btn-primary, .btn-bg
    background-color: $starcraft 
    color: #fff !important
    &:hover 
      background-color: darken( $starcraft, 10% )      
.form-control
  border: 1px solid #AFAFAF     
.btn-print 
  color: #ffffff
  background-color: $blue
  border-color: $blue
.heading-page-wrapper
  line-height: 1.6
  font-size: 2em
  border-bottom: 1px solid #000
  margin-top: 1em  
  .btn-print
    margin-right: 0.5em  








//OVERWRITE

.bootstrap-select > .btn
  font-size: 14px
  border: 1px solid #AFAFAF !important
  text-indent: 10px
  padding: 0
  width: 100%
  height: 40px
  background-color: white    
.bootstrap-select.btn-group .btn .caret
  display: inline-block
  width: 30px
  height: 100%
  top: 0
  right: 10px
  margin: 0
  border: 0
  text-align: center
  font-size: 1em !important
  &:before
    font-size: inherit !important
.listMode > li    
  padding: 0 5px !important