.media {
  margin-top: 15px; }
  .media:first-child {
    margin-top: 0; }

.media,
.media-body {
  zoom: 1;
  overflow: hidden; }

.media-body {
  width: 10000px; }

.media-object {
  display: block; }
  .media-object.img-thumbnail {
    max-width: none; }

.media-right,
.media > .pull-right {
  padding-left: 10px; }

.media-left,
.media > .pull-left {
  padding-right: 10px; }

.media-left,
.media-right,
.media-body {
  display: table-cell;
  vertical-align: top; }

.media-middle {
  vertical-align: middle; }

.media-bottom {
  vertical-align: bottom; }

.media-heading {
  margin-top: 0;
  margin-bottom: 5px; }

.media-list {
  padding-left: 0;
  list-style: none; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }
  @media (min-width: 768px) {
    .container {
      width: 750px; } }
  @media (min-width: 992px) {
    .container {
      width: 970px; } }
  @media (min-width: 1200px) {
    .container {
      width: 1170px; } }

.row {
  margin-left: -1rem;
  margin-right: -1rem; }
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
  width: 100%;
  max-width: 100%; }
  .container-fluid:before, .container-fluid:after {
    content: " ";
    display: table; }
  .container-fluid:after {
    clear: both; }

.container-full {
  width: 100%;
  max-width: 100%;
  position: relative;
  padding: 0 1rem; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 1rem;
  padding-right: 1rem; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

.col-xs-1 {
  width: 8.33333%; }

.col-xs-2 {
  width: 16.66667%; }

.col-xs-3 {
  width: 25%; }

.col-xs-4 {
  width: 33.33333%; }

.col-xs-5 {
  width: 41.66667%; }

.col-xs-6 {
  width: 50%; }

.col-xs-7 {
  width: 58.33333%; }

.col-xs-8 {
  width: 66.66667%; }

.col-xs-9 {
  width: 75%; }

.col-xs-10 {
  width: 83.33333%; }

.col-xs-11 {
  width: 91.66667%; }

.col-xs-12 {
  width: 100%; }

.col-xs-pull-0 {
  right: auto; }

.col-xs-pull-1 {
  right: 8.33333%; }

.col-xs-pull-2 {
  right: 16.66667%; }

.col-xs-pull-3 {
  right: 25%; }

.col-xs-pull-4 {
  right: 33.33333%; }

.col-xs-pull-5 {
  right: 41.66667%; }

.col-xs-pull-6 {
  right: 50%; }

.col-xs-pull-7 {
  right: 58.33333%; }

.col-xs-pull-8 {
  right: 66.66667%; }

.col-xs-pull-9 {
  right: 75%; }

.col-xs-pull-10 {
  right: 83.33333%; }

.col-xs-pull-11 {
  right: 91.66667%; }

.col-xs-pull-12 {
  right: 100%; }

.col-xs-push-0 {
  left: auto; }

.col-xs-push-1 {
  left: 8.33333%; }

.col-xs-push-2 {
  left: 16.66667%; }

.col-xs-push-3 {
  left: 25%; }

.col-xs-push-4 {
  left: 33.33333%; }

.col-xs-push-5 {
  left: 41.66667%; }

.col-xs-push-6 {
  left: 50%; }

.col-xs-push-7 {
  left: 58.33333%; }

.col-xs-push-8 {
  left: 66.66667%; }

.col-xs-push-9 {
  left: 75%; }

.col-xs-push-10 {
  left: 83.33333%; }

.col-xs-push-11 {
  left: 91.66667%; }

.col-xs-push-12 {
  left: 100%; }

.col-xs-offset-0 {
  margin-left: 0%; }

.col-xs-offset-1 {
  margin-left: 8.33333%; }

.col-xs-offset-2 {
  margin-left: 16.66667%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-4 {
  margin-left: 33.33333%; }

.col-xs-offset-5 {
  margin-left: 41.66667%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-7 {
  margin-left: 58.33333%; }

.col-xs-offset-8 {
  margin-left: 66.66667%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-10 {
  margin-left: 83.33333%; }

.col-xs-offset-11 {
  margin-left: 91.66667%; }

.col-xs-offset-12 {
  margin-left: 100%; }

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }
  .col-sm-1 {
    width: 8.33333%; }
  .col-sm-2 {
    width: 16.66667%; }
  .col-sm-3 {
    width: 25%; }
  .col-sm-4 {
    width: 33.33333%; }
  .col-sm-5 {
    width: 41.66667%; }
  .col-sm-6 {
    width: 50%; }
  .col-sm-7 {
    width: 58.33333%; }
  .col-sm-8 {
    width: 66.66667%; }
  .col-sm-9 {
    width: 75%; }
  .col-sm-10 {
    width: 83.33333%; }
  .col-sm-11 {
    width: 91.66667%; }
  .col-sm-12 {
    width: 100%; }
  .col-sm-pull-0 {
    right: auto; }
  .col-sm-pull-1 {
    right: 8.33333%; }
  .col-sm-pull-2 {
    right: 16.66667%; }
  .col-sm-pull-3 {
    right: 25%; }
  .col-sm-pull-4 {
    right: 33.33333%; }
  .col-sm-pull-5 {
    right: 41.66667%; }
  .col-sm-pull-6 {
    right: 50%; }
  .col-sm-pull-7 {
    right: 58.33333%; }
  .col-sm-pull-8 {
    right: 66.66667%; }
  .col-sm-pull-9 {
    right: 75%; }
  .col-sm-pull-10 {
    right: 83.33333%; }
  .col-sm-pull-11 {
    right: 91.66667%; }
  .col-sm-pull-12 {
    right: 100%; }
  .col-sm-push-0 {
    left: auto; }
  .col-sm-push-1 {
    left: 8.33333%; }
  .col-sm-push-2 {
    left: 16.66667%; }
  .col-sm-push-3 {
    left: 25%; }
  .col-sm-push-4 {
    left: 33.33333%; }
  .col-sm-push-5 {
    left: 41.66667%; }
  .col-sm-push-6 {
    left: 50%; }
  .col-sm-push-7 {
    left: 58.33333%; }
  .col-sm-push-8 {
    left: 66.66667%; }
  .col-sm-push-9 {
    left: 75%; }
  .col-sm-push-10 {
    left: 83.33333%; }
  .col-sm-push-11 {
    left: 91.66667%; }
  .col-sm-push-12 {
    left: 100%; }
  .col-sm-offset-0 {
    margin-left: 0%; }
  .col-sm-offset-1 {
    margin-left: 8.33333%; }
  .col-sm-offset-2 {
    margin-left: 16.66667%; }
  .col-sm-offset-3 {
    margin-left: 25%; }
  .col-sm-offset-4 {
    margin-left: 33.33333%; }
  .col-sm-offset-5 {
    margin-left: 41.66667%; }
  .col-sm-offset-6 {
    margin-left: 50%; }
  .col-sm-offset-7 {
    margin-left: 58.33333%; }
  .col-sm-offset-8 {
    margin-left: 66.66667%; }
  .col-sm-offset-9 {
    margin-left: 75%; }
  .col-sm-offset-10 {
    margin-left: 83.33333%; }
  .col-sm-offset-11 {
    margin-left: 91.66667%; }
  .col-sm-offset-12 {
    margin-left: 100%; } }

@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }
  .col-md-1 {
    width: 8.33333%; }
  .col-md-2 {
    width: 16.66667%; }
  .col-md-3 {
    width: 25%; }
  .col-md-4 {
    width: 33.33333%; }
  .col-md-5 {
    width: 41.66667%; }
  .col-md-6 {
    width: 50%; }
  .col-md-7 {
    width: 58.33333%; }
  .col-md-8 {
    width: 66.66667%; }
  .col-md-9 {
    width: 75%; }
  .col-md-10 {
    width: 83.33333%; }
  .col-md-11 {
    width: 91.66667%; }
  .col-md-12 {
    width: 100%; }
  .col-md-pull-0 {
    right: auto; }
  .col-md-pull-1 {
    right: 8.33333%; }
  .col-md-pull-2 {
    right: 16.66667%; }
  .col-md-pull-3 {
    right: 25%; }
  .col-md-pull-4 {
    right: 33.33333%; }
  .col-md-pull-5 {
    right: 41.66667%; }
  .col-md-pull-6 {
    right: 50%; }
  .col-md-pull-7 {
    right: 58.33333%; }
  .col-md-pull-8 {
    right: 66.66667%; }
  .col-md-pull-9 {
    right: 75%; }
  .col-md-pull-10 {
    right: 83.33333%; }
  .col-md-pull-11 {
    right: 91.66667%; }
  .col-md-pull-12 {
    right: 100%; }
  .col-md-push-0 {
    left: auto; }
  .col-md-push-1 {
    left: 8.33333%; }
  .col-md-push-2 {
    left: 16.66667%; }
  .col-md-push-3 {
    left: 25%; }
  .col-md-push-4 {
    left: 33.33333%; }
  .col-md-push-5 {
    left: 41.66667%; }
  .col-md-push-6 {
    left: 50%; }
  .col-md-push-7 {
    left: 58.33333%; }
  .col-md-push-8 {
    left: 66.66667%; }
  .col-md-push-9 {
    left: 75%; }
  .col-md-push-10 {
    left: 83.33333%; }
  .col-md-push-11 {
    left: 91.66667%; }
  .col-md-push-12 {
    left: 100%; }
  .col-md-offset-0 {
    margin-left: 0%; }
  .col-md-offset-1 {
    margin-left: 8.33333%; }
  .col-md-offset-2 {
    margin-left: 16.66667%; }
  .col-md-offset-3 {
    margin-left: 25%; }
  .col-md-offset-4 {
    margin-left: 33.33333%; }
  .col-md-offset-5 {
    margin-left: 41.66667%; }
  .col-md-offset-6 {
    margin-left: 50%; }
  .col-md-offset-7 {
    margin-left: 58.33333%; }
  .col-md-offset-8 {
    margin-left: 66.66667%; }
  .col-md-offset-9 {
    margin-left: 75%; }
  .col-md-offset-10 {
    margin-left: 83.33333%; }
  .col-md-offset-11 {
    margin-left: 91.66667%; }
  .col-md-offset-12 {
    margin-left: 100%; } }

@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; }
  .col-lg-1 {
    width: 8.33333%; }
  .col-lg-2 {
    width: 16.66667%; }
  .col-lg-3 {
    width: 25%; }
  .col-lg-4 {
    width: 33.33333%; }
  .col-lg-5 {
    width: 41.66667%; }
  .col-lg-6 {
    width: 50%; }
  .col-lg-7 {
    width: 58.33333%; }
  .col-lg-8 {
    width: 66.66667%; }
  .col-lg-9 {
    width: 75%; }
  .col-lg-10 {
    width: 83.33333%; }
  .col-lg-11 {
    width: 91.66667%; }
  .col-lg-12 {
    width: 100%; }
  .col-lg-pull-0 {
    right: auto; }
  .col-lg-pull-1 {
    right: 8.33333%; }
  .col-lg-pull-2 {
    right: 16.66667%; }
  .col-lg-pull-3 {
    right: 25%; }
  .col-lg-pull-4 {
    right: 33.33333%; }
  .col-lg-pull-5 {
    right: 41.66667%; }
  .col-lg-pull-6 {
    right: 50%; }
  .col-lg-pull-7 {
    right: 58.33333%; }
  .col-lg-pull-8 {
    right: 66.66667%; }
  .col-lg-pull-9 {
    right: 75%; }
  .col-lg-pull-10 {
    right: 83.33333%; }
  .col-lg-pull-11 {
    right: 91.66667%; }
  .col-lg-pull-12 {
    right: 100%; }
  .col-lg-push-0 {
    left: auto; }
  .col-lg-push-1 {
    left: 8.33333%; }
  .col-lg-push-2 {
    left: 16.66667%; }
  .col-lg-push-3 {
    left: 25%; }
  .col-lg-push-4 {
    left: 33.33333%; }
  .col-lg-push-5 {
    left: 41.66667%; }
  .col-lg-push-6 {
    left: 50%; }
  .col-lg-push-7 {
    left: 58.33333%; }
  .col-lg-push-8 {
    left: 66.66667%; }
  .col-lg-push-9 {
    left: 75%; }
  .col-lg-push-10 {
    left: 83.33333%; }
  .col-lg-push-11 {
    left: 91.66667%; }
  .col-lg-push-12 {
    left: 100%; }
  .col-lg-offset-0 {
    margin-left: 0%; }
  .col-lg-offset-1 {
    margin-left: 8.33333%; }
  .col-lg-offset-2 {
    margin-left: 16.66667%; }
  .col-lg-offset-3 {
    margin-left: 25%; }
  .col-lg-offset-4 {
    margin-left: 33.33333%; }
  .col-lg-offset-5 {
    margin-left: 41.66667%; }
  .col-lg-offset-6 {
    margin-left: 50%; }
  .col-lg-offset-7 {
    margin-left: 58.33333%; }
  .col-lg-offset-8 {
    margin-left: 66.66667%; }
  .col-lg-offset-9 {
    margin-left: 75%; }
  .col-lg-offset-10 {
    margin-left: 83.33333%; }
  .col-lg-offset-11 {
    margin-left: 91.66667%; }
  .col-lg-offset-12 {
    margin-left: 100%; } }

.block-header {
  font-weight: 300;
  border-bottom: 4px double #333;
  margin-bottom: 0.5em; }

.aside {
  position: relative;
  min-height: 1px;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
  min-height: 1px;
  padding-left: 1rem;
  padding-right: 1rem; }
  @media (min-width: 768px) {
    .aside {
      float: left;
      width: 33.33333%; } }
  @media (min-width: 992px) {
    .aside {
      float: left;
      width: 16.66667%; } }

.breadcrumbs {
  font-size: 0.8em;
  font-weight: 400;
  color: #fff;
  line-height: 29px; }
  .breadcrumbs ul {
    list-style-type: none;
    padding-left: 0px; }
    .breadcrumbs ul:before, .breadcrumbs ul:after {
      content: " ";
      display: table; }
    .breadcrumbs ul:after {
      clear: both; }
    .breadcrumbs ul li {
      float: left; }
  .breadcrumbs a {
    color: #fff;
    line-height: 2.2em; }
    .breadcrumbs a:hover {
      color: #FDF3FB; }
  .breadcrumbs li {
    color: #fff; }
    .breadcrumbs li:after {
      font-family: "FontAwesome";
      content: "\f105 ";
      margin-left: 0.2em;
      margin-right: 0.2em;
      font-weight: 400; }
    .breadcrumbs li:last-child:after {
      color: #FDF3FB;
      display: none; }

* {
  -webkit-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out; }

.form-group .popover {
  border-radius: 0;
  box-shadow: none;
  border-color: #C156AC; }
  .form-group .popover .arrow {
    border-top-color: #C156AC; }

.paragraphContent ul {
  list-style-type: disc;
  padding-left: 1.2em;
  line-height: 1.6;
  margin-bottom: 1em;
  margin-top: 1em; }

#miniCartContainer a {
  color: #000; }

#miniCartContainer footer {
  background-color: transparent; }

#miniCart {
  z-index: 9000;
  right: 0;
  top: 100%;
  border: 1px solid black; }

.productCount {
  font-weight: 700;
  color: #fff; }

.logo {
  width: 148px;
  height: 80px;
  display: inline-block;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center; }
  .logo img {
    display: none; }

.btn-primary {
  border: none; }

.jayco .logo {
  background-image: url(/Files/Templates/Designs/Jayco/images/logo-jayco.png); }

.jayco .btn-primary, .jayco .btn-bg {
  background-color: #0577be;
  color: #fff !important; }
  .jayco .btn-primary:hover, .jayco .btn-bg:hover {
    background-color: #04588c; }

.jayco a, .jayco button {
  color: inherit; }
  .jayco a:hover, .jayco button:hover {
    color: #0577be; }

.entegra .logo {
  background-image: url(/Files/Templates/Designs/Jayco/images/logo-entegra.png); }

.entegra .btn-primary, .entegra .btn-bg {
  background-color: #af272f;
  color: #fff !important; }
  .entegra .btn-primary:hover, .entegra .btn-bg:hover {
    background-color: #851e24; }

.entegra a, .entegra button {
  color: inherit; }
  .entegra a:hover, .entegra button:hover {
    color: #af272f; }

.starcraft .logo {
  background-image: url(/Files/Templates/Designs/Jayco/images/logo-starcraft.png); }

.starcraft .btn-primary, .starcraft .btn-bg {
  background-color: #658d1b;
  color: #fff !important; }
  .starcraft .btn-primary:hover, .starcraft .btn-bg:hover {
    background-color: #466213; }

.starcraft a, .starcraft button {
  color: inherit; }
  .starcraft a:hover, .starcraft button:hover {
    color: #658d1b; }

.form-control {
  border: 1px solid #AFAFAF; }

.btn-print {
  color: #ffffff;
  background-color: #0577be;
  border-color: #0577be; }
  .btn-print:hover {
    color: #fff; }
  .btn-print .fa {
    -webkit-transition: all 0s linear;
            transition: all 0s linear; }

.heading-page-wrapper {
  line-height: 1.6;
  font-size: 2em;
  border-bottom: 1px solid #000;
  margin-top: 1em; }
  .heading-page-wrapper.modifier {
    margin-top: 0; }
  .heading-page-wrapper .btn-print {
    margin-right: 0.5em; }

.bootstrap-select > .btn {
  font-size: 14px;
  border: 1px solid #AFAFAF !important;
  text-indent: 10px;
  padding: 0;
  width: 100%;
  height: 40px;
  background-color: white; }

.bootstrap-select.btn-group .btn .caret {
  display: inline-block;
  width: 30px;
  height: 100%;
  top: 0;
  right: 10px;
  margin: 0;
  border: 0;
  text-align: center;
  font-size: 1em !important; }
  .bootstrap-select.btn-group .btn .caret:before {
    font-size: inherit !important; }

.listMode > li {
  padding: 0 5px !important; }

.btn-bg {
  font-size: 1em; }

#miniCart {
  top: 100% !important; }

.pagination li[active] a {
  border: 1px solid #000;
  padding: 0 0.5em; }

.pagination li a {
  color: #000; }
  .pagination li a:hover {
    color: #0577be; }

#searchSubmit {
  height: 30px;
  text-indent: 10px; }

.form-filters {
  padding-bottom: 30px; }
  .form-filters label {
    font-weight: 400; }
  .form-filters .badge {
    font-size: 0.8em;
    color: #777; }
  .form-filters .filter-option-value {
    vertical-align: top;
    display: inline-block;
    margin-right: 0.3em; }

html {
  font-size: 1em; }

* {
  box-sizing: border-box; }

body {
  background-color: #FFF;
  font-family: "merriweather", "Open Sans", Verdana, sans-serif;
  font-size: 1em;
  font-weight: 400;
  color: #333;
  line-height: 1.4;
  overflow-x: hidden;
  margin: 0; }

p {
  margin: 0 0 0.5em; }

a {
  display: inline-block;
  text-decoration: none;
  color: #000; }
  a:hover {
    color: #E492D4; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  margin: 0; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

ul {
  padding: 0px;
  margin: 0px;
  list-style-type: none; }

input, button, textarea, select {
  outline: none;
  box-shadow: none;
  border: none; }

main {
  font-size: 0.8rem; }

.navigation {
  overflow-y: auto;
  padding-right: 15px !important; }
  .navigation .hasChildren {
    display: none; }
  .navigation .active {
    display: block; }
  .navigation a {
    font-size: 1em; }
  .navigation ul {
    padding-left: 1em; }
  .navigation li a {
    color: #000; }
    .navigation li a:before {
      color: #be7004;
      font-family: "FontAwesome";
      content: "\f196";
      margin-right: 0.3em; }
    .navigation li a[data-overflow]:before, .navigation li a[data-bookmark]:before {
      content: ""; }
    .navigation li a.opened:before {
      content: "\f147"; }
    .navigation li a[data-overflow].selected {
      color: #be7004; }
  .navigation li.noIcon:before {
    display: none; }
  .navigation li.noIcon a {
    display: inline-block; }
    .navigation li.noIcon a[data-bookmark] {
      display: block;
      float: right;
      color: #be7004; }
    .navigation li.noIcon a[data-bookmark="true"] i:before {
      content: "\f02e"; }
  .navigation li .collapsed .hasChildren {
    display: none; }
  .navigation li .branch-opened .hasChildren {
    display: block; }
    .navigation li .branch-opened .hasChildren .hasChildren {
      display: none; }
  .navigation .hasChildren[data-expanded="true"] {
    display: block; }
    .navigation .hasChildren[data-expanded="true"] .true {
      color: #be7004; }
  .navigation .componentWrapper {
    padding: 0px; }

body, p, div, span, td, th, li, a, a:link, input, textarea, .tile .listPrice, #cartRightContent li > div h3, table td .fa-heart {
  font-size: 0.8rem; }

.product-image, .product-attachments, .product-components {
  margin-bottom: 2em; }

.product-header {
  background-color: #0f4a72;
  color: #fff;
  padding: 0.5em 1em;
  margin-bottom: 1em; }
  .product-header button {
    float: right;
    line-height: 2;
    color: inherit;
    background-color: transparent;
    border-radius: 0.5em;
    border: 1px solid #fff; }
    .product-header button i {
      margin-right: 0.3em; }
  .product-header .heading {
    margin: 0;
    display: inline-block;
    line-height: 2;
    color: inherit;
    font-size: 1.4em;
    text-transform: uppercase;
    font-weight: 300; }
    .product-header .heading i {
      font-size: 1.5em;
      line-height: 1;
      vertical-align: middle; }

a[data-overflow] {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 90%; }

.table-header {
  text-align: center; }
  .table-header .form-group:first-child {
    float: left;
    line-height: 34px; }
  .table-header .form-group:last-child {
    float: right; }

button.button-download-group {
  text-align: left;
  width: 18em; }
  button.button-download-group .caret {
    float: right;
    margin-top: 10px; }

.table-product-list .fa-heart {
  font-size: 1.2rem;
  margin-right: 0.5em; }

#productlistnavigation {
  margin-top: 1em;
  margin-bottom: 2em;
  text-align: right; }

#pageContent {
  padding-top: 20px;
  padding-bottom: 75px; }

.product-title {
  font-size: 1.2rem;
  line-height: 1.2;
  margin-bottom: 0.5em; }

.product-code {
  font-weight: 700; }

.product-price {
  color: #f35923;
  font-size: 1.4rem;
  font-weight: 600; }

.associated-group-list {
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2; }

.product-related-list {
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2; }

#addToCartSubmit {
  background-color: #68aa00; }

#headerContainer {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2; }

#catalogNavContainer {
  position: fixed;
  top: 84px;
  bottom: 53px;
  width: 252.5px;
  z-index: 2;
  padding: 0; }
  #catalogNavContainer section.catalogNavSection.navigation {
    position: relative;
    border: 0;
    bottom: 76px;
    top: 5px;
    height: 100%;
    overflow-y: auto;
    padding-bottom: 110px; }
  #catalogNavContainer > .catalogNavSection h1 {
    margin: 0;
    font-size: 1.8em;
    line-height: 1.6; }

#main:before, #main:after {
  content: " ";
  display: table; }

#main:after {
  clear: both; }

#contentWrapper {
  padding-top: 84px;
  min-height: 90vh;
  padding-bottom: 56px; }

#footer {
  position: fixed;
  z-index: 2;
  bottom: 0; }

#topMenu > li > a .fa {
  font-size: 2em; }

#homeContent .paragraphText {
  border: 1px solid #eee;
  text-align: center;
  padding: 2em; }
  #homeContent .paragraphText img {
    height: 145px;
    width: auto; }
  #homeContent .paragraphText h2 {
    margin: 0;
    line-height: 1;
    margin-top: 0.2em; }

.jayco .loading-image {
  background-image: url(/Files/Images/Jayco.jpg);
  background-size: contain;
  opacity: 0.6;
  height: 80vh;
  background-position: center;
  background-repeat: no-repeat; }

.entegra .loading-image {
  background-image: url(/Files/Images/Entegra.jpg);
  background-size: contain;
  opacity: 0.6;
  height: 80vh;
  background-position: center;
  background-repeat: no-repeat; }

.starcraft .loading-image {
  background-image: url(/Files/Images/Starcraft.jpg);
  background-size: contain;
  opacity: 0.6;
  height: 80vh;
  background-position: center;
  background-repeat: no-repeat; }

#productsList > li {
  margin: 0; }

.thumbs-slider {
  margin: -0.5em;
  padding: 0 2em;
  position: relative; }
  .thumbs-slider .fa-chevron-left {
    display: inline-block;
    position: absolute;
    z-index: 2;
    left: 0.5em;
    top: 50%;
    font-size: 1em;
    margin-top: -0.5em; }
  .thumbs-slider .fa-chevron-right {
    display: inline-block;
    position: absolute;
    z-index: 2;
    right: 0.5em;
    top: 50%;
    font-size: 1em;
    margin-top: -0.5em; }
  .thumbs-slider .item {
    margin: 0.5em; }
  .thumbs-slider img {
    width: 100%; }

.DMForms .bootstrap-select > .btn {
  line-height: 32px; }

.catalogNavSection.topSection {
  margin-top: 8px !important; }

.headerBox {
  background-color: #F4F4F4;
  border: none; }

h1, .h1, #socialMedia a:before, .listMode > li i, .product-price, .product-title, #stepsList > li i, #shareContainer i, #playPause i {
  font-size: 1em; }

@media (min-width: 768px) {
  #orderProdList label, .headerBox > span {
    margin-top: 0px; } }

.listMode > li {
  background-color: transparent;
  border: none;
  padding: 0;
  margin-left: 0.5em;
  color: #000;
  vertical-align: middle;
  line-height: 2em;
  height: 2em; }
  .listMode > li.active {
    background-color: transparent;
    color: #000; }
  .listMode > li i {
    vertical-align: middle; }

#orderProdList fieldset > label {
  height: 2em !important;
  width: auto;
  line-height: 24px !important;
  margin: 0 !important;
  margin-right: 0.5em !important; }

.headerBox > span {
  margin: 0 !important; }

.productCount {
  line-height: 2em;
  height: 2em;
  color: #000; }

.form-style {
  border: 1px solid #aaa;
  line-height: 2em;
  height: 2em; }

.removeFiltersContainer {
  padding: 1em; }

#changeList .bootstrap-select {
  border: none;
  line-height: 1.4;
  height: auto; }
  #changeList .bootstrap-select.btn-group .btn .caret:before {
    font-size: 1em; }

#product-description {
  margin-bottom: 2em; }

.cartChange {
  width: 100%;
  max-width: 100%; }
  .cartChange .quantityInput {
    line-height: 40px;
    display: inline-block;
    width: 100%;
    height: 40px; }
  .cartChange .submitQuantity {
    background-color: transparent;
    position: absolute;
    right: 20px;
    top: 10px; }
  .cartChange .bootstrap-select {
    max-width: 100%;
    width: 100%; }

#popup-image {
  display: none; }

#popup-messages {
  width: 450px;
  display: none; }
  #popup-messages .content {
    background-color: #fff;
    padding: 1em;
    border-radius: 0.5em;
    text-align: center; }

.product-list--list .item {
  margin-bottom: 1em; }
  .product-list--list .item div {
    font-size: 1em; }
  .product-list--list .item .media-left a {
    width: 105px;
    display: block; }
    .product-list--list .item .media-left a:hover {
      color: #0f4a72; }
  .product-list--list .item .priceContainer {
    text-align: right; }
  .product-list--list .item .wishlist-quantity {
    max-width: 5em;
    text-align: right; }
  .product-list--list .item .listPrice {
    display: block;
    font-size: 2em;
    color: #EE5921;
    margin-bottom: 0.25em; }

.product-list .item {
  margin-bottom: 2rem; }
  .product-list .item span, .product-list .item div {
    font-size: inherit; }
  .product-list .item h2 {
    font-size: 1.2em;
    margin: 0 0 0.5em;
    padding: 0; }
    .product-list .item h2 a {
      font-size: inherit;
      color: #000;
      font-weight: 600; }
      .product-list .item h2 a:hover {
        color: #0f4a72; }
  .product-list .item .priceContainer {
    position: relative;
    font-size: 1.2em; }
  .product-list .item .price {
    display: block; }
    .product-list .item .price strong {
      color: #EE5921;
      font-weight: 400; }
  .product-list .item .quantity-container {
    margin-bottom: 1rem;
    line-height: 31px;
    margin-top: 0; }
    .product-list .item .quantity-container input[name="quantity"] {
      max-width: 3em;
      height: 2em;
      line-height: 2em;
      padding: 0 0.2em;
      text-align: center; }
    .product-list .item .quantity-container label {
      line-height: 31px; }
  .product-list .item .favorite {
    line-height: 1.4;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 1.2em; }
  .product-list .item .btn-success {
    color: #fff;
    text-decoration: none; }
    .product-list .item .btn-success:hover {
      text-decoration: none; }
    .product-list .item .btn-success span {
      color: inherit; }
  .product-list .item .prodNumber {
    margin: 0 0 0.3em; }

.product-list--list.product-list--wishlist .favorite-quantity-wrapper {
  margin-bottom: 0.5em; }

.product-list--list.product-list--wishlist .priceContainer form[name="change"] .bootstrap-select {
  float: none !important;
  display: inline-block !important;
  vertical-align: middle !important;
  margin: 0 !important; }

.product-list--list.product-list--wishlist form[name="addToCart"] {
  margin-bottom: 0.5em; }

.product-list--box .item h2 {
  height: 4em;
  overflow: hidden; }

.product-list--box .item .image {
  height: 130px;
  overflow: hidden; }

.product-list--list .item .quantity-container {
  text-align: right; }
  .product-list--list .item .quantity-container .pull-right {
    float: none; }
  .product-list--list .item .quantity-container input[name="quantity"] {
    line-height: 31px;
    height: 31px;
    vertical-align: top;
    margin-right: 0.5em; }
  .product-list--list .item .quantity-container label {
    float: none;
    vertical-align: top; }

.product-list--list .item .favorite {
  position: relative; }

.product-list--list .item .price {
  margin-bottom: 0.5em;
  font-size: 1.2em; }

.product-list--table .item .quantity-container {
  margin: 0; }

.product-list--table .item i {
  vertical-align: middle;
  margin: 0; }

.favorite-quantity-wrapper {
  text-align: right; }

.favorite-update-quantity {
  margin-right: 1em; }

.bookmark-list-content .item.opened .bookmark-content button {
  display: block; }

.bookmark-list-content .item .bookmark-content button {
  display: none; }

.bookmark-list-content .item .button-link {
  margin-left: 1em; }

.bookmark-list-content .item .bookmark-actions {
  text-align: right; }

.bookmark-list-content .item .btn-bg {
  padding: 0 0.7em;
  float: left; }

.bookmark-list-content .item .btn-success {
  padding: 0 0.7em;
  font-size: 14px; }

.bookmark-list-content .item textarea {
  min-height: 7em;
  margin-bottom: 0.5em;
  max-width: 300px; }

.button-link {
  background-color: transparent;
  text-decoration: underline; }
  .button-link:hover {
    background-color: transparent;
    text-decoration: underline; }

.jayco #headerContainer {
  background-color: #0577be; }

.entegra #headerContainer {
  background-color: #af272f; }

.starcraft #headerContainer {
  background-color: #658d1b; }

/*# sourceMappingURL=100_main.css.map */
