.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }
  @media (min-width: 768px) {
    .container {
      width: 750px; } }
  @media (min-width: 992px) {
    .container {
      width: 970px; } }
  @media (min-width: 1200px) {
    .container {
      width: 1170px; } }

.row {
  margin-left: -1rem;
  margin-right: -1rem; }
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
  width: 100%;
  max-width: 100%; }
  .container-fluid:before, .container-fluid:after {
    content: " ";
    display: table; }
  .container-fluid:after {
    clear: both; }

.container-full {
  width: 100%;
  max-width: 100%;
  position: relative;
  padding: 0 1rem; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 1rem;
  padding-right: 1rem; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

.col-xs-1 {
  width: 8.33333%; }

.col-xs-2 {
  width: 16.66667%; }

.col-xs-3 {
  width: 25%; }

.col-xs-4 {
  width: 33.33333%; }

.col-xs-5 {
  width: 41.66667%; }

.col-xs-6 {
  width: 50%; }

.col-xs-7 {
  width: 58.33333%; }

.col-xs-8 {
  width: 66.66667%; }

.col-xs-9 {
  width: 75%; }

.col-xs-10 {
  width: 83.33333%; }

.col-xs-11 {
  width: 91.66667%; }

.col-xs-12 {
  width: 100%; }

.col-xs-pull-0 {
  right: auto; }

.col-xs-pull-1 {
  right: 8.33333%; }

.col-xs-pull-2 {
  right: 16.66667%; }

.col-xs-pull-3 {
  right: 25%; }

.col-xs-pull-4 {
  right: 33.33333%; }

.col-xs-pull-5 {
  right: 41.66667%; }

.col-xs-pull-6 {
  right: 50%; }

.col-xs-pull-7 {
  right: 58.33333%; }

.col-xs-pull-8 {
  right: 66.66667%; }

.col-xs-pull-9 {
  right: 75%; }

.col-xs-pull-10 {
  right: 83.33333%; }

.col-xs-pull-11 {
  right: 91.66667%; }

.col-xs-pull-12 {
  right: 100%; }

.col-xs-push-0 {
  left: auto; }

.col-xs-push-1 {
  left: 8.33333%; }

.col-xs-push-2 {
  left: 16.66667%; }

.col-xs-push-3 {
  left: 25%; }

.col-xs-push-4 {
  left: 33.33333%; }

.col-xs-push-5 {
  left: 41.66667%; }

.col-xs-push-6 {
  left: 50%; }

.col-xs-push-7 {
  left: 58.33333%; }

.col-xs-push-8 {
  left: 66.66667%; }

.col-xs-push-9 {
  left: 75%; }

.col-xs-push-10 {
  left: 83.33333%; }

.col-xs-push-11 {
  left: 91.66667%; }

.col-xs-push-12 {
  left: 100%; }

.col-xs-offset-0 {
  margin-left: 0%; }

.col-xs-offset-1 {
  margin-left: 8.33333%; }

.col-xs-offset-2 {
  margin-left: 16.66667%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-4 {
  margin-left: 33.33333%; }

.col-xs-offset-5 {
  margin-left: 41.66667%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-7 {
  margin-left: 58.33333%; }

.col-xs-offset-8 {
  margin-left: 66.66667%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-10 {
  margin-left: 83.33333%; }

.col-xs-offset-11 {
  margin-left: 91.66667%; }

.col-xs-offset-12 {
  margin-left: 100%; }

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }
  .col-sm-1 {
    width: 8.33333%; }
  .col-sm-2 {
    width: 16.66667%; }
  .col-sm-3 {
    width: 25%; }
  .col-sm-4 {
    width: 33.33333%; }
  .col-sm-5 {
    width: 41.66667%; }
  .col-sm-6 {
    width: 50%; }
  .col-sm-7 {
    width: 58.33333%; }
  .col-sm-8 {
    width: 66.66667%; }
  .col-sm-9 {
    width: 75%; }
  .col-sm-10 {
    width: 83.33333%; }
  .col-sm-11 {
    width: 91.66667%; }
  .col-sm-12 {
    width: 100%; }
  .col-sm-pull-0 {
    right: auto; }
  .col-sm-pull-1 {
    right: 8.33333%; }
  .col-sm-pull-2 {
    right: 16.66667%; }
  .col-sm-pull-3 {
    right: 25%; }
  .col-sm-pull-4 {
    right: 33.33333%; }
  .col-sm-pull-5 {
    right: 41.66667%; }
  .col-sm-pull-6 {
    right: 50%; }
  .col-sm-pull-7 {
    right: 58.33333%; }
  .col-sm-pull-8 {
    right: 66.66667%; }
  .col-sm-pull-9 {
    right: 75%; }
  .col-sm-pull-10 {
    right: 83.33333%; }
  .col-sm-pull-11 {
    right: 91.66667%; }
  .col-sm-pull-12 {
    right: 100%; }
  .col-sm-push-0 {
    left: auto; }
  .col-sm-push-1 {
    left: 8.33333%; }
  .col-sm-push-2 {
    left: 16.66667%; }
  .col-sm-push-3 {
    left: 25%; }
  .col-sm-push-4 {
    left: 33.33333%; }
  .col-sm-push-5 {
    left: 41.66667%; }
  .col-sm-push-6 {
    left: 50%; }
  .col-sm-push-7 {
    left: 58.33333%; }
  .col-sm-push-8 {
    left: 66.66667%; }
  .col-sm-push-9 {
    left: 75%; }
  .col-sm-push-10 {
    left: 83.33333%; }
  .col-sm-push-11 {
    left: 91.66667%; }
  .col-sm-push-12 {
    left: 100%; }
  .col-sm-offset-0 {
    margin-left: 0%; }
  .col-sm-offset-1 {
    margin-left: 8.33333%; }
  .col-sm-offset-2 {
    margin-left: 16.66667%; }
  .col-sm-offset-3 {
    margin-left: 25%; }
  .col-sm-offset-4 {
    margin-left: 33.33333%; }
  .col-sm-offset-5 {
    margin-left: 41.66667%; }
  .col-sm-offset-6 {
    margin-left: 50%; }
  .col-sm-offset-7 {
    margin-left: 58.33333%; }
  .col-sm-offset-8 {
    margin-left: 66.66667%; }
  .col-sm-offset-9 {
    margin-left: 75%; }
  .col-sm-offset-10 {
    margin-left: 83.33333%; }
  .col-sm-offset-11 {
    margin-left: 91.66667%; }
  .col-sm-offset-12 {
    margin-left: 100%; } }

@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }
  .col-md-1 {
    width: 8.33333%; }
  .col-md-2 {
    width: 16.66667%; }
  .col-md-3 {
    width: 25%; }
  .col-md-4 {
    width: 33.33333%; }
  .col-md-5 {
    width: 41.66667%; }
  .col-md-6 {
    width: 50%; }
  .col-md-7 {
    width: 58.33333%; }
  .col-md-8 {
    width: 66.66667%; }
  .col-md-9 {
    width: 75%; }
  .col-md-10 {
    width: 83.33333%; }
  .col-md-11 {
    width: 91.66667%; }
  .col-md-12 {
    width: 100%; }
  .col-md-pull-0 {
    right: auto; }
  .col-md-pull-1 {
    right: 8.33333%; }
  .col-md-pull-2 {
    right: 16.66667%; }
  .col-md-pull-3 {
    right: 25%; }
  .col-md-pull-4 {
    right: 33.33333%; }
  .col-md-pull-5 {
    right: 41.66667%; }
  .col-md-pull-6 {
    right: 50%; }
  .col-md-pull-7 {
    right: 58.33333%; }
  .col-md-pull-8 {
    right: 66.66667%; }
  .col-md-pull-9 {
    right: 75%; }
  .col-md-pull-10 {
    right: 83.33333%; }
  .col-md-pull-11 {
    right: 91.66667%; }
  .col-md-pull-12 {
    right: 100%; }
  .col-md-push-0 {
    left: auto; }
  .col-md-push-1 {
    left: 8.33333%; }
  .col-md-push-2 {
    left: 16.66667%; }
  .col-md-push-3 {
    left: 25%; }
  .col-md-push-4 {
    left: 33.33333%; }
  .col-md-push-5 {
    left: 41.66667%; }
  .col-md-push-6 {
    left: 50%; }
  .col-md-push-7 {
    left: 58.33333%; }
  .col-md-push-8 {
    left: 66.66667%; }
  .col-md-push-9 {
    left: 75%; }
  .col-md-push-10 {
    left: 83.33333%; }
  .col-md-push-11 {
    left: 91.66667%; }
  .col-md-push-12 {
    left: 100%; }
  .col-md-offset-0 {
    margin-left: 0%; }
  .col-md-offset-1 {
    margin-left: 8.33333%; }
  .col-md-offset-2 {
    margin-left: 16.66667%; }
  .col-md-offset-3 {
    margin-left: 25%; }
  .col-md-offset-4 {
    margin-left: 33.33333%; }
  .col-md-offset-5 {
    margin-left: 41.66667%; }
  .col-md-offset-6 {
    margin-left: 50%; }
  .col-md-offset-7 {
    margin-left: 58.33333%; }
  .col-md-offset-8 {
    margin-left: 66.66667%; }
  .col-md-offset-9 {
    margin-left: 75%; }
  .col-md-offset-10 {
    margin-left: 83.33333%; }
  .col-md-offset-11 {
    margin-left: 91.66667%; }
  .col-md-offset-12 {
    margin-left: 100%; } }

@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; }
  .col-lg-1 {
    width: 8.33333%; }
  .col-lg-2 {
    width: 16.66667%; }
  .col-lg-3 {
    width: 25%; }
  .col-lg-4 {
    width: 33.33333%; }
  .col-lg-5 {
    width: 41.66667%; }
  .col-lg-6 {
    width: 50%; }
  .col-lg-7 {
    width: 58.33333%; }
  .col-lg-8 {
    width: 66.66667%; }
  .col-lg-9 {
    width: 75%; }
  .col-lg-10 {
    width: 83.33333%; }
  .col-lg-11 {
    width: 91.66667%; }
  .col-lg-12 {
    width: 100%; }
  .col-lg-pull-0 {
    right: auto; }
  .col-lg-pull-1 {
    right: 8.33333%; }
  .col-lg-pull-2 {
    right: 16.66667%; }
  .col-lg-pull-3 {
    right: 25%; }
  .col-lg-pull-4 {
    right: 33.33333%; }
  .col-lg-pull-5 {
    right: 41.66667%; }
  .col-lg-pull-6 {
    right: 50%; }
  .col-lg-pull-7 {
    right: 58.33333%; }
  .col-lg-pull-8 {
    right: 66.66667%; }
  .col-lg-pull-9 {
    right: 75%; }
  .col-lg-pull-10 {
    right: 83.33333%; }
  .col-lg-pull-11 {
    right: 91.66667%; }
  .col-lg-pull-12 {
    right: 100%; }
  .col-lg-push-0 {
    left: auto; }
  .col-lg-push-1 {
    left: 8.33333%; }
  .col-lg-push-2 {
    left: 16.66667%; }
  .col-lg-push-3 {
    left: 25%; }
  .col-lg-push-4 {
    left: 33.33333%; }
  .col-lg-push-5 {
    left: 41.66667%; }
  .col-lg-push-6 {
    left: 50%; }
  .col-lg-push-7 {
    left: 58.33333%; }
  .col-lg-push-8 {
    left: 66.66667%; }
  .col-lg-push-9 {
    left: 75%; }
  .col-lg-push-10 {
    left: 83.33333%; }
  .col-lg-push-11 {
    left: 91.66667%; }
  .col-lg-push-12 {
    left: 100%; }
  .col-lg-offset-0 {
    margin-left: 0%; }
  .col-lg-offset-1 {
    margin-left: 8.33333%; }
  .col-lg-offset-2 {
    margin-left: 16.66667%; }
  .col-lg-offset-3 {
    margin-left: 25%; }
  .col-lg-offset-4 {
    margin-left: 33.33333%; }
  .col-lg-offset-5 {
    margin-left: 41.66667%; }
  .col-lg-offset-6 {
    margin-left: 50%; }
  .col-lg-offset-7 {
    margin-left: 58.33333%; }
  .col-lg-offset-8 {
    margin-left: 66.66667%; }
  .col-lg-offset-9 {
    margin-left: 75%; }
  .col-lg-offset-10 {
    margin-left: 83.33333%; }
  .col-lg-offset-11 {
    margin-left: 91.66667%; }
  .col-lg-offset-12 {
    margin-left: 100%; } }

.block-header {
  font-weight: 300;
  border-bottom: 4px double #333;
  margin-bottom: 0.5em; }

.aside, .category-page .aside-category {
  position: relative;
  min-height: 1px;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
  min-height: 1px;
  padding-left: 1rem;
  padding-right: 1rem; }
  @media (min-width: 768px) {
    .aside, .category-page .aside-category {
      float: left;
      width: 33.33333%; } }
  @media (min-width: 992px) {
    .aside, .category-page .aside-category {
      float: left;
      width: 16.66667%; } }

.breadcrumbs {
  padding: 0px 1rem;
  font-size: 0.8em;
  font-weight: 400; }
  .breadcrumbs ul {
    list-style-type: none;
    padding-left: 0px; }
    .breadcrumbs ul:before, .breadcrumbs ul:after {
      content: " ";
      display: table; }
    .breadcrumbs ul:after {
      clear: both; }
    .breadcrumbs ul li {
      float: left; }
  .breadcrumbs a {
    color: #000;
    line-height: 2.2em; }
    .breadcrumbs a:hover {
      color: #FDF3FB; }
  .breadcrumbs li:after {
    content: "/";
    margin-left: 0.2em;
    margin-right: 0.2em;
    font-weight: 400; }
  .breadcrumbs li:last-child:after {
    color: #FDF3FB; }

* {
  -webkit-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out; }

.form-group .popover {
  border-radius: 0;
  box-shadow: none;
  border-color: #C156AC; }
  .form-group .popover .arrow {
    border-top-color: #C156AC; }

.paragraphContent ul {
  list-style-type: disc;
  padding-left: 1.2em;
  line-height: 1.6;
  margin-bottom: 1em;
  margin-top: 1em; }

.border-button {
  padding: 0.5rem;
  line-height: 1;
  font-style: italic;
  border: 1px solid #000; }
  .border-button:hover {
    color: #000;
    text-decoration: underline; }

.mb1 {
  margin-bottom: 1em; }

html {
  font-size: 1em; }

* {
  box-sizing: border-box; }

body {
  background-color: #FFF;
  font-family: "merriweather", "Open Sans", Verdana, sans-serif;
  font-size: 1em;
  font-weight: 400;
  color: #333;
  line-height: 1.4;
  overflow-x: hidden;
  margin: 0; }

p {
  margin: 0 0 0.5em; }

a {
  display: inline-block;
  text-decoration: none;
  color: #000; }
  a:hover {
    color: #E492D4; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  margin: 0; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

ul {
  padding: 0px;
  margin: 0px;
  list-style-type: none; }

input, button, textarea, select {
  outline: none;
  box-shadow: none;
  border: none; }

main {
  font-size: 0.8rem; }

.navigation .hasChildren {
  display: none; }

.navigation .active {
  display: block; }

.navigation ul {
  padding-left: 1em; }

.personal-details-edit {
  position: relative; }
  .personal-details-edit .user-edit {
    max-width: 480px; }

.form-control {
  border-radius: 0; }
  .form-control.modifier {
    border: none;
    box-shadow: none;
    margin: 0;
    padding-left: 0; }
  .form-control.input-invalid {
    border: 1px solid #C156AC; }
  .form-control:focus {
    box-shadow: none;
    border-color: #97E0E0; }

.form-horizontal .control-label {
  font-style: italic;
  text-align: left; }

.category-header {
  margin: 0 1rem 1rem;
  font-size: 1.6em;
  text-transform: uppercase; }
  .category-header:after {
    content: "//";
    margin-left: 0.2em;
    margin-right: 0.2em; }

.category-page {
  margin-left: -1rem;
  margin-right: -1rem; }
  .category-page:before, .category-page:after {
    content: " ";
    display: table; }
  .category-page:after {
    clear: both; }
  .category-page .category-banner {
    padding: 0px 1rem; }
  .category-page .main {
    position: relative;
    min-height: 1px;
    padding-left: 1rem;
    padding-right: 1rem;
    position: relative;
    min-height: 1px;
    padding-left: 1rem;
    padding-right: 1rem; }
    @media (min-width: 768px) {
      .category-page .main {
        float: left;
        width: 66.66667%; } }
    @media (min-width: 992px) {
      .category-page .main {
        float: left;
        width: 83.33333%; } }
    .category-page .main .product-list {
      margin-left: -1rem;
      margin-right: -1rem; }
      .category-page .main .product-list:before, .category-page .main .product-list:after {
        content: " ";
        display: table; }
      .category-page .main .product-list:after {
        clear: both; }
      .category-page .main .product-list:before, .category-page .main .product-list:after {
        content: " ";
        display: table; }
      .category-page .main .product-list:after {
        clear: both; }
      .category-page .main .product-list .item {
        position: relative;
        float: left;
        width: 50%;
        min-height: 1px;
        padding-left: 1rem;
        padding-right: 1rem;
        position: relative;
        min-height: 1px;
        padding-left: 1rem;
        padding-right: 1rem;
        position: relative;
        min-height: 1px;
        padding-left: 1rem;
        padding-right: 1rem;
        position: relative;
        min-height: 1px;
        padding-left: 1rem;
        padding-right: 1rem; }
        @media (min-width: 768px) {
          .category-page .main .product-list .item {
            float: left;
            width: 50%; } }
        @media (min-width: 992px) {
          .category-page .main .product-list .item {
            float: left;
            width: 25%; } }
        @media (min-width: 1200px) {
          .category-page .main .product-list .item {
            float: left;
            width: 20%; } }

.filter-header {
  margin-bottom: 1rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  line-height: 1.6; }
  .filter-header:after {
    content: "";
    width: 0.9em;
    height: 0.9em;
    display: inline-block;
    background-image: url("../img/icon_loupe.svg");
    background-size: contain;
    background-position: center;
    margin-left: 0.4em; }
  @media (max-width: 991px) {
    .filter-header {
      display: block;
      margin-bottom: 1em;
      cursor: pointer;
      line-height: 2em;
      padding: 0px 1rem;
      background-color: #333;
      color: #fff; }
      .filter-header:after {
        background: transparent;
        font-family: "FontAwesome";
        content: "\f107";
        float: right; } }

@media (max-width: 768px) {
  .filter-list {
    display: none;
    padding-bottom: 1em; } }

.filter-vertical .filter-item {
  font-size: 0.8em;
  margin-bottom: 1em; }
  .filter-vertical .filter-item a {
    color: #000; }
    .filter-vertical .filter-item a:hover {
      color: #00bed4; }
  .filter-vertical .filter-item .filter-title {
    margin-bottom: 0;
    font-weight: 600; }
    .filter-vertical .filter-item .filter-title:before {
      font-family: "FontAwesome";
      content: "\f105";
      margin-right: 0.2em;
      color: #ed2724;
      font-weight: 400; }

.cancel-filters {
  font-size: 0.8em;
  font-weight: 300;
  color: gray;
  border-top: 1px solid #eee;
  padding-top: 0.2em;
  display: block; }
  .cancel-filters:after {
    font-family: "FontAwesome";
    content: "\f00d";
    margin-left: 0.5em; }
  .cancel-filters:hover {
    color: red; }
  @media (max-width: 768px) {
    .cancel-filters {
      padding: 0.5em 1em;
      font-size: 1em;
      color: #000;
      border: 1px solid #aaa;
      display: inline-block;
      font-weight: 400; } }

.manufacturer ul {
  list-style-type: none;
  padding-left: 0px; }
  .manufacturer ul:before, .manufacturer ul:after {
    content: " ";
    display: table; }
  .manufacturer ul:after {
    clear: both; }
  .manufacturer ul li {
    float: left; }
  .manufacturer ul li {
    margin-right: 1em; }

.brands ul {
  list-style-type: none; }
  .brands ul li {
    float: none; }

.colors ul {
  margin-left: -1rem;
  margin-right: -1rem;
  padding-top: 0.5rem; }
  .colors ul:before, .colors ul:after {
    content: " ";
    display: table; }
  .colors ul:after {
    clear: both; }
  .colors ul li {
    position: relative;
    float: left;
    width: 50%;
    min-height: 1px;
    padding-left: 1rem;
    padding-right: 1rem; }

.colors a {
  display: block;
  padding: 0.2em;
  text-align: center;
  margin-bottom: 1rem; }
  .colors a:hover {
    color: #000; }

.summerwear ul {
  list-style-type: none; }
  .summerwear ul li {
    float: none; }

.summerwear a:before {
  font-family: "FontAwesome";
  content: "\f096";
  display: inline-block;
  margin-right: 5px;
  width: 12px; }

.summerwear a.checked {
  font-weight: 600; }
  .summerwear a.checked:before {
    content: "\f046"; }

.sort-block {
  margin-bottom: 1rem;
  line-height: 2em;
  font-size: 0.8em; }
  .sort-block p {
    display: inline-block;
    color: #000;
    margin-right: 0.5em;
    margin-bottom: 0px; }
  .sort-block a {
    display: inline-block;
    color: #000;
    margin-right: 0.5em; }
    .sort-block a:hover {
      color: #00bed4; }
  .sort-block .view {
    display: inline-block; }
    .sort-block .view a.active {
      text-decoration: underline; }
    .sort-block .view:before {
      font-family: "FontAwesome";
      content: "\f111";
      margin-left: 0em;
      margin-right: 1em;
      font-size: 0.4em;
      vertical-align: middle; }
  .sort-block .sort {
    display: inline-block;
    float: right; }
    .sort-block .sort select {
      border: 1px solid #000;
      outline: none;
      color: #000; }

.pagination {
  display: inline-block; }
  .pagination:before {
    font-family: "FontAwesome";
    content: "\f111";
    margin-left: 0em;
    margin-right: 1em;
    font-size: 0.4em;
    vertical-align: middle; }
  .pagination ul {
    display: inline-block;
    list-style-type: none;
    padding-left: 0px; }
    .pagination ul:before, .pagination ul:after {
      content: " ";
      display: table; }
    .pagination ul:after {
      clear: both; }
    .pagination ul li {
      float: left; }
    .pagination ul li {
      line-height: 0.8; }
      .pagination ul li.active a {
        text-decoration: underline; }

.button-link {
  color: blue;
  font-style: italic;
  background-color: transparent;
  color: #000;
  font-size: 0.7rem;
  line-height: 1.6em;
  display: inline-block;
  text-decoration: underline; }
  .button-link:hover {
    color: #11A2A2;
    text-decoration: underline; }

.delete {
  display: inline-block;
  background-color: transparent;
  color: #000;
  line-height: inherit;
  vertical-align: top;
  -webkit-transition: all 0s linear;
          transition: all 0s linear; }
  .delete i {
    -webkit-transition: all 0s linear;
            transition: all 0s linear; }
  .delete:hover {
    color: red; }

.account-header {
  font-size: 0.8rem;
  background-color: #F3FDFD;
  padding: 1rem; }
  .account-header:before, .account-header:after {
    content: " ";
    display: table; }
  .account-header:after {
    clear: both; }
  .account-header h2 {
    font-size: 1.6em;
    margin-bottom: 1em; }
  .account-header .actions {
    margin-top: 1em; }
    .account-header .actions a {
      display: block; }
      .account-header .actions a:first-child {
        margin-bottom: 1em; }
  .account-header .billing-address-list p, .account-header .shipping-address-list p {
    margin: 0;
    display: inline-block;
    width: 100%;
    max-width: 170px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .account-header .billing-address-list .item, .account-header .shipping-address-list .item {
    color: #aaa;
    line-height: 1rem; }
  .account-header .billing-address-list em, .account-header .shipping-address-list em {
    color: #000; }
  .account-header .billing-address-list .button-link, .account-header .shipping-address-list .button-link {
    line-height: inherit;
    vertical-align: top; }

.heading--account {
  font-size: 1.4rem;
  line-height: 4rem;
  border-top: 1px solid #eee; }
  .heading--account.modifier {
    border: none; }
  .col-xs-12:first-child .heading--account {
    border: none; }

#react-wishlist a:after {
  font-family: "FontAwesome";
  content: "\f004";
  position: absolute;
  right: 1.5em;
  top: 0.5em;
  color: #F15B8A;
  font-size: 1.5em; }

.subscription-actions a {
  display: block;
  margin-bottom: 1em; }

.billing-information:before, .billing-information:after {
  content: " ";
  display: table; }

.billing-information:after {
  clear: both; }

.billing-information .paragraphContent {
  padding-bottom: 1rem; }

.billing-address-list-detail {
  padding-bottom: 1rem;
  position: relative; }
  .billing-address-list-detail .wrap {
    padding: 0.5rem; }
  .billing-address-list-detail .modifier {
    background-color: #F3FDFD; }
  .billing-address-list-detail .actions {
    margin-top: 1em; }
    .billing-address-list-detail .actions a {
      margin-bottom: 1em;
      display: block; }
      .billing-address-list-detail .actions a:last-child {
        margin-bottom: 0; }
    .billing-address-list-detail .actions .button-link {
      display: block; }
  .billing-address-list-detail .default {
    font-size: 0.7rem;
    font-style: italic;
    color: #65B1B1; }

.account-back-button {
  position: absolute;
  right: 0rem;
  top: -2.5rem; }

.account-button {
  background-color: #65B1B1;
  padding: 0.5rem;
  color: #fff;
  line-height: 1;
  font-style: italic; }
  .account-button:hover {
    color: #fff;
    text-decoration: underline; }

.password-reset-paragraph {
  font-size: 0.7rem;
  margin-top: 2em;
  font-style: italic; }

/*# sourceMappingURL=main.css.map */
